@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}

<br />
<br />

<div class="container marketing">
    <br />
    <div class="row">
        <h2>ABOUT US</h2>

        <div class="col-lg-4">
            <img src="/img/sarah.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /></>
            <h2>Sarah Loyd</h2>
            <p>Sarah graduated with her BS in BAIS at USF in 2019. She now works for Plus3 IT Systems as an Associate Corporate Engineer, while she pursues her MS in BAIS.</p>
            <p>Her contibutions to this site included researching data options, initial project setup and HTML build, and adapting the code to suit the needs of the project.</p>

        </div>
        <div class="col-lg-4">
            <img src="/img/hammad3.jpg" . class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /></img>
            <h2>Hammad Muniem</h2>
            <p>Hammad graduated with his BS in Business Administration in 2017. After gaining experience in product management and digital marketing for 2 years, he decided to attain some technical skills by pursuing MS in Business Analytics at USF.</p>
            <p>His contribution to the site includes linking the site to the Coronavirus API and inclduing Covid charts to the website to make it more informative</p>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <br />
            <br />
            <h2>See our Github repo:</h2>
            <p><a class="btn btn-secondary" href="https://github.com/sarahloyd-usf/Assignment_LookAndFeel" role="button">Github Link &raquo;</a></p>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Data Model: <span class="text-muted">Provisional COVID-19 Deaths Counts.</span></h2>
            <p class="lead">Our data model is centered around the current COVID-19 issue in relation to location. A user will be able to select their "favorite" counties and view data specific to that region.</p>

            <p><a class="btn btn-secondary" href="https://data.cdc.gov/NCHS/AH-County-level-Provisional-COVID-19-Deaths-Counts/6vqh-esgs" role="button">View Data Source &raquo;</a></p>
        </div>
        <div class="col-md-5">
            <img src="/img/dataModel2.png" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></svg>
        </div>
    </div>
