@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Symptoms";
}
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading2">What is the difference between Influenza (Flu) and COVID-19?</h2>
            <p class="lead">Influenza (Flu) and COVID-19 are both contagious respiratory illnesses, but they are caused by different viruses. COVID-19 is caused by infection with a new coronavirus (called SARS-CoV-2) and flu is caused by infection with influenza viruses.</p>
            <p class="lead">Because some of the symptoms of flu and COVID-19 are similar, it may be hard to tell the difference between them based on symptoms alone, and testing may be needed to help confirm a diagnosis. Flu and COVID-19 share many characteristics, but there are some key differences between the two.</p>
        </div>
        <div class="col-md-5">
            <img src="/img/virus.jpg" , class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee" /></img>
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading2">Signs and Symptoms </h2>
            <p class="lead">Both COVID-19 and flu can have varying degrees of signs and symptoms, ranging from no symptoms (asymptomatic) to severe symptoms. Common symptoms that COVID-19 and flu share include:</p>
            <ul>
                <li>Fever or chills</li>
                <li>Cough</li>
                <li>Fatigue</li>
                <li>Muscle or body aches</li>
                <li>Headache</li>
                <li>Sore throat</li>
                <li>
                    Congestion or runny nose
                </li>
                <li>
                    Nausea or vomiting
                </li>
                <li>Diarrhea</li>
            </ul>
            <p class="lead">
                Look for emergency warning signs* for COVID-19. If someone is showing any of these signs, seek emergency medical care immediately:
            </p>
            <ul>
                <li>Trouble breathing</li>
                <li>Persistent pain or pressure in the chest</li>
                <li>Inability to wake or stay awake</li>
                <li>Loss of sense of taste or smell</li>
                <li>Bluish lips or face</li>
                <li>New Confusion</li>
            </ul>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="/img/symptoms.jpg" , class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee" /></img>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading2">How long symptoms appear after exposure? </h2>
            <h3>
                Similarities:
            </h3>
            <p class="lead">For both COVID-19 and flu, 1 or more days can pass between a person becoming infected and when he or she starts to experience illness symptoms.</p>

            <h3>
                Differences:
            </h3>
            <p class="lead">For Flu, typically, a person develops symptoms anywhere from 1 to 4 days after infection.</p>
            <p class="lead">For Covid, a person develops symptoms 5 days after being infected, but symptoms can appear as early as 2 days after infection or as late as 14 days after infection, and the time range can vary.</p>
        </div>
        <div class="col-md-5">
            <img src="/img/time3.jpg" , class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="600" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee" /></img>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading2">Prevention is better than cure!</h2>
            <br />
            <p class="lead">
                Both COVID-19 and flu can spread from person-to-person, between people who are in close contact with one another (within about 6 feet). Both are spread mainly by droplets made when people with the illness cough, sneeze, or talk. These droplets can be inhaled into the lungs.

                It may be possible that a person can get infected by physical human contact (e.g. shaking hands) or by touching a surface or object that has virus on it and then touching his or her own mouth, nose, or possibly their eyes.
            </p>
            <p class="lead">Both flu virus and the virus that causes COVID-19 may be spread to others by people before they begin showing symptoms, with very mild symptoms or who never developed symptoms (asymptomatic).</p>
            <p class="lead">
                While COVID-19 and flu viruses are thought to spread in similar ways, COVID-19 is more contagious among certain populations and age groups than flu. Also, COVID-19 has been observed to have more superspreading events than flu. This means the virus that causes COVID-19 can quickly and easily spread to a lot of people and result in continuous spreading among people as time progresses.
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="/img/spread.jpg" , class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee" /></img>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading2">Vaccine</h2>
            <br />
            <h3>
                Flu:
            </h3>
            <p class="lead">There are multiple FDA-licensed influenza vaccines produced annually to protect against the 3 or 4 flu viruses that scientists anticipate will circulate each year.</p>
            <h3>
                Covid 19:
            </h3>
            <p class="lead">Currently there is no vaccine to prevent COVID-19. Vaccine developers and other researchers and manufacturers are expediting the development of a vaccine to prevent COVID-19.</p>
        </div>
        <div class="col-md-5">
            <img src="/img/vaccine.jpg" , class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee" /></img>
        </div>
    </div>
    <hr class="featurette-divider">
    <div>
        <iframe style="width:100%;border:none;min-height:900px" src="https://my.castlighthealth.com/corona-virus-testing-sites/?embed=true&from=ABC" </iframe>
    </div>

    <hr class="featurette-divider">


</div>
